@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

html {
  font-size: 17px;
}

@layer base {
  .prose h1,
  .prose h2,
  .prose h3 {
    border-bottom: 1px solid var(--foreground);
    @apply mt-[1em] mb-[0.25em];
  }
  .prose u {
    @apply underline underline-offset-4 decoration-[0.05em];
  }

  .prose a {
    @apply text-[#207DFF] dark:text-[#61C6FA] cursor-pointer border-solid border-b border-[#207DFF] dark:border-[#61C6FA] no-underline;
  }

  .prose a:hover {
    @apply text-[#207DFF] dark:text-[#61C6FA];
  }

  .prose ul > ul > li::marker {
    content: "◦";
  }

  .prose blockquote {
    @apply not-italic border-foreground;
  }

  .prose h2,
  .prose h3 {
    @apply border-none;
  }

  .prose hr {
    @apply m-[0.25rem] h-4 border-[rgba(0,0,0,0.13)] dark:border-[rgba(255,255,255,0.12)];
  }

  .prose strong {
    @apply text-inherit;
  }

  .prose p:not(:empty) {
    @apply my-[1px] py-[3px] px-[0.125rem];
  }

  .prose table {
    @apply border-collapse;
  }

  .prose table td,
  .prose table th {
    @apply border border-muted-foreground p-2;
  }

  .prose code:before {
    content: "";
  }

  .prose code:after {
    content: "";
  }

  .prose p code {
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    line-height: normal;
    word-wrap: break-word;
    @apply bg-[rgba(0,0,0,0.08)] dark:bg-[rgba(255,255,255,0.08)];
  }

  .prose blockquote p:before {
    content: "";
  }

  .prose blockquote p:after {
    content: "";
  }

  .prose blockquote {
    @apply font-normal;
  }

  .prose ul {
    @apply my-1;
  }

  .prose ul li {
    @apply my-1;
  }

  .prose img {
    @apply my-[0.25rem];
  }

  .card {
    @apply text-[#207DFF] dark:text-[#61C6FA] cursor-pointer rounded-sm ease-in transition-[background-color,box-shadow] dark:hover:bg-[rgba(255,255,255,0.08)] hover:bg-[rgba(0,0,0,0.08)] hover:shadow-[0_0_0_1px_rgba(0,0,0,0.08)] dark:hover:shadow-[0_0_0_1px_rgba(255,255,255,0.08)];
  }

  .invalid-card {
    @apply cursor-default hover:bg-transparent hover:shadow-none dark:hover:bg-transparent dark:hover:shadow-none;
  }

  .text-danger {
    @apply text-[#E14646] dark:text-[#d92626];
  }

  .border-light-grey {
    @apply border-[rgba(0,0,0,0.1)] dark:border-[rgba(255,255,255,0.08)];
  }

  .text-middle-hard-grey {
    @apply text-[rgba(0,0,0,0.72)] dark:text-[rgba(255,255,255,0.65)];
  }

  .bg-douban {
    @apply bg-[#F2F3F5] dark:bg-[#2B2D31];
  }

  .border-douban {
    @apply border-l-4 border-solid border-[#E3E5E8] dark:border-[#1E1F22];
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 18%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --text-red-editor: #dc2626;
    --text-pink-editor: #d1538b;
    --text-purple-editor: #9333ea;
    --text-blue-editor: #2563eb;
    --text-green-editor: #16a34a;
    --text-yellow-editor: #ca8a04;
    --text-orange-editor: #ea580c;
    --text-brown-editor: #9e6b53;
    --text-gray-editor: #908f89;

    --bg-red-editor: #fee2e2;
    --bg-pink-editor: #f3d9e8;
    --bg-purple-editor: #e5d7f5;
    --bg-blue-editor: #dbeafe;
    --bg-green-editor: #c4f5d5;
    --bg-yellow-editor: #fef9c3;
    --bg-orange-editor: #ffedd5;
    --bg-brown-editor: #f1e1e1;
    --bg-gray-editor: #e3e3dd;

    --map-color-svg: #3b976f;

    --border-white-sect: hsl(0, 0%, 68%);

    --annotation-red: #eb5353;
    --annotation-pink: #ea68c6;
    --annotation-purple: #a968ea;
    --annotation-blue: #11a7d3;
    --annotation-green: #11c85a;
    --annotation-yellow: #ffd20b;
    --annotation-orange: #ff8934;
  }
  .dark {
    --background: 214 7% 15%;
    --foreground: 0 0% 88%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --text-red-editor: #ef4444;
    --text-pink-editor: #ec4899;
    --text-purple-editor: #a855f7;
    --text-blue-editor: #3b82f6;
    --text-green-editor: #22c55e;
    --text-yellow-editor: #eab308;
    --text-orange-editor: #f97316;
    --text-brown-editor: #ba856f;
    --text-gray-editor: #9b9b9b;

    --bg-red-editor: #ef444466;
    --bg-pink-editor: #ea479866;
    --bg-purple-editor: #a855f766;
    --bg-blue-editor: #3b82a666;
    --bg-green-editor: #22c55e66;
    --bg-yellow-editor: #eab30866;
    --bg-orange-editor: #f9731666;
    --bg-brown-editor: #614234;
    --bg-gray-editor: #9ba6bc;

    --map-color-svg: #4ca9ad;

    --border-white-sect: hsl(0, 0%, 58%);

    --annotation-red: #eb5353;
    --annotation-pink: #ea68c6;
    --annotation-purple: #a968ea;
    --annotation-blue: #11a7d3;
    --annotation-green: #11c85a;
    --annotation-yellow: #ffd20b;
    --annotation-orange: #ff8934;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-active {
    @apply bg-[#207DFF] dark:bg-[#61C6FA];
  }
}

.todo-list-item p {
  margin: 0;
}

.todo-list-item {
  display: flex;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-left: 0.125rem;
}
.bullet-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin-right: 0.125rem;
  flex-shrink: 0;
  width: 1.75rem;
}

.checkbox-container {
  display: flex;
  height: 2rem;
  flex-shrink: 0;
  align-items: center;
}

.todo-content {
  display: flex;
  min-width: 0px;
  flex-grow: 1;
  flex-direction: column;
}

.todo-content > p {
  padding: 3px 0.125rem;
}

.checked > p {
  text-decoration: line-through 2px;
}

.toggle_list_item {
  @apply flex my-[1px] pl-[0.125rem];
}

.toggle_list_item p {
  @apply my-0;
}

.toggle_list_item h1 {
  @apply mb-0;
}

.toggle_list_item h2 {
  @apply mb-0;
}

.toggle_list_item h3 {
  @apply mb-0;
}

.toggle_list_item .bulletWrapper {
  @apply relative mr-[0.125rem] flex-shrink-0 w-[1.75rem] justify-center flex;
}

.toggle_list_item .hasNestedBlocks .toggleIcon {
  @apply fill-foreground;
}

.nestedBlocks {
  @apply flex min-w-0 flex-grow flex-col;
}

.nestedBlocks > p:has(text),
.nestedBlocks > p:has(*) {
  @apply py-[3px] px-[0.125rem];
}

.folded > .nestedBlocks > :not(:first-child) {
  display: none;
}

.folded .toggleIcon {
  transform: rotate(-90deg);
}

.toggleIcon {
  @apply fill-[rgba(0,0,0,0.21)] dark:fill-[rgba(255,255,255,0.32)];
}

.math-content #preview {
  @apply p-0;
}

.math-block #preview {
  @apply flex justify-center py-8;
}

.prose pre code .hljs {
  @apply bg-[#fefefe] text-[#545454] dark:bg-[#2b2b2b] dark:text-[#f8f8f2] !important;
}
/* Comment */
.hljs-comment,
.hljs-quote {
  @apply text-[#696969] dark:text-[#d4d0ab] !important;
}
/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  @apply text-[#d91e18] dark:text-[#ffa07a] !important;
}
/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  @apply text-[#aa5d00] dark:text-[#f5ab35] !important;
}
/* Yellow */
.hljs-attribute {
  @apply text-[#aa5d00] dark:text-[#ffd700] !important;
}
/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  @apply text-[#008000] dark:text-[#abe338] !important;
}
/* Blue */
.hljs-title,
.hljs-section {
  @apply text-[#007faa] dark:text-[#00e0e0] !important;
}
/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  @apply text-[#7928a1] dark:text-[#dcc6e0] !important;
}
.hljs-emphasis {
  @apply italic;
}
.hljs-strong {
  @apply font-bold;
}
@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    @apply text-[#0184bb] dark:text-[#0184bb];
  }
  .hljs-keyword,
  .hljs-selector-tag {
    @apply font-bold;
  }
}
