@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

@layer base {
  .prose h1,
  .prose h2,
  .prose h3 {
    border-bottom: 1px solid var(--foreground);
  }
  .prose u {
    @apply underline underline-offset-4 decoration-[0.05em]
  }

  .prose a {
    @apply text-blue-500 cursor-pointer underline-offset-4 underline;
  }

  .prose ul > ul > li::marker {
    content: "◦";
  }

  .prose blockquote {
    @apply not-italic;
  }

  .prose h2,
  .prose h3 {
    @apply border-none;
  }

  .card {
    @apply text-blue-500 cursor-pointer underline-offset-4 underline decoration-zinc-300;
  }
}
